
.fade-enter {
  opacity: 0.01;
}

.fade-appear {
  opacity: 0.01;
}

.fade-leave {
  opacity: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}
